@import url(http://fonts.googleapis.com/css?family=Quicksand:300);

h1 {
    margin-top: 30vh;
    margin-bottom: 0;

    font-size: 72px;
    text-align: center;
    font-family: "Quicksand";
}
h2 {
    margin-top: 0;
    margin-bottom: 50px;

    font-size: 20px;
    text-align: center;
    font-family: "Quicksand";
}

a {
    color: white;
}
a.glow {
    transition: all 0.3s ease-in;
    text-decoration: none;
}
a:hover.glow {
    text-shadow: 1px 0px 20px white;
}

div.icons {
    text-align: center;
    color: white;
}
.icons i {
    margin: 20px;
    transition: all 0.3s ease-in;
}
i:hover {
    cursor: pointer;
    text-shadow: 1px 0px 20px white;
}

/* the good stuff... */
body {
    color: white;
    background: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 97vh;
    overflow-y: hidden;
}

footer {
    color: white;
    font-family: Monospace;

    margin-left:  2px;
    margin-right: 2px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-text p {
    height: 2px;
}

footer a       { text-decoration: underline; }
footer a:hover { text-decoration: none; }
